<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>内　容: </strong>
  <%= @meeting.content %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>ユーザ: </strong>
  <%= User.find_by(id: @meeting.userid).name %>
</p>
<p>
  <strong>フォロワーに自分のスケジュールを表示／非表示: </strong>
  <% if @meeting.hidden %>
    非表示
  <% else %>
    表示
  <% end %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', user_path(@current_user.id) %>
